.o-text {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}

.c-translate {
  border: 1px solid black;
  box-shadow: 5px 5px #888888;
  max-width: 750px;
  margin: 24px auto ;
  padding: 0 24px;
  text-align: center;
}

.c-translate__form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.c-translate__outputs {
  align-items: center;
  display: flex;
  justify-content: center;
}

.c-translate__form-item {
  border-radius: 4px;
  height: 40px;
  font-size: 18px;
}

.c-translate__form-item:last-child {
  margin-bottom: 0px;
}

.c-translate__text {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.c-translate__text--output {
  font-weight: 400;
}

.c-translate__text--language {
  text-transform: capitalize;
}

.c-translate__container {
  font-size: 24px;
}

.c-translate__input {
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
}

.c-translate__input::placeholder {
  font-size: 14px;
}

.c-output {
  display: flex;
  justify-content: space-between;
}

.c-output__text {
  font-family: serif;
  font-size: 18px;
}

.c-output__outputs {
  display: flex;
  justify-content: center;
}

body {
  font-family: sans-serif;
  margin: 0;
}
