.c-switch {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.c-switch__btn {
  font-size: 24px;
  color: gray;
  margin-left: 16px;
}

.c-switch__btn:hover {
  color: black;
}
